@font-face {
    font-family: "Playfair Display";
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Playfair Display Italic";
    src: url(PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/gradientBg.svg);
    color: #fbf2ea;     
    position: relative;   
}

.firstRow{
    display: flex;
    justify-content: center;
}

.intro-col-2 {
    text-align: center;
    font-size: 25px;
    font-family: "Playfair Display";
}

.intro-col-2 h1{
    font-family: "Playfair Display Italic";
    text-align: center;
    margin-top: 25%;
    font-size: 55px;
    
}

.intro-col-2 h1 span{
    color: #8444B2;
}

.container {
    padding: 10px 10%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 50px;
    height: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #FDFDF2;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #FDFDF2;

}

.arrows{
    display: flex;
    justify-content: center;
    margin-top: 15%
}
/** --------------about me-------------- **/

.about2 {
    display: flex;
}
#about {
    padding: 0px;
    color: #FDFDF2;
    font-family: "Playfair Display";
    position: relative;
    display: flex;

}
.portrait img {
    width: 400px;
    padding: 0px 10% 0px 0px;
}

.sub-title{
    font-size: 50px;
    font-weight: 600px;
    color: #FDFDF2;
    margin: 10px 10%;
    font-family: "Playfair Display";
    padding-top: 60px;
}
#bio {
    color: #FDFDF2;
    font-size: 30px;
    padding: 10px 0;
    width: 120%;
    font-family: "Playfair Display";
}

#vtLink {
    color:#FDFD96;
    text-decoration: none;
}

.tab-titles{
    display: flex;
    margin: 20px 0 10px;
    color: #FDFDF2;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FDFDF2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 5px 0;
}

.tab-contents ul li span{
    color:#FDFDF2;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: flex;
    font-size: 20px;

}




/** --------------experience-------------- **/

.timeline {
    margin: 0 auto;
    max-width: 90%;
    padding: 45px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Playfair Display";
    color: #ffffff;
  }
  
  .timeline__component {
    margin: 0 20px 20px 20px;
  }
  
  .timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  /* LEAVE TILL LAST */
  .timeline__component--bottom {
    margin-bottom: 0;
  }
  
  .timeline__middle {
    position: relative;
    background: #ffffff;
  }
  
  .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
  }
  
  /* LEAVE TILL LAST */
  .timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
    font-family: "Playfair Display";
  }
  
  .timeline__title {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    font-family: "Playfair Display";
  }
  
  .timeline__paragraph {
    font-size: 4em;
    font-family: "Playfair Display";
  }

  .timeline__role {
    font-family: "Playfair Display Italic";
    font-size: 1.3em;
  }

  .timeline__date {
    font-family: "Playfair Display";
    font-size: 1.5em;
  }

  .timeline__component img {
    width: 500px;
    margin-left: 60px;
  }
  
/** --------------projects-------------- **/

/** --------------contact me-------------- **/


