*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    box-sizing: border-box;
}

body {
    background: #100010;
    color: #2272FF;
}

.firstRow{
    display:flex;
    justify-content: space-between;
}


.intro-col-1 img{
    flex-basis: 35%;
}


.intro-col-2 {
    text-align: center;
    margin-top: 25%;
    font-size: 20px;

}
.container {
    padding: 10px 10%;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 50px;
    height: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #6BA6FF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #6BA6FF
}
/** --------------about me-------------- **/
#about {
    padding: 80px 0;
    color: #2272FF;
   
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    flex-basis: 100%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600px;
    color: #6BA6FF;
}
#bio{
    color: #2272FF;
    font-size: 30px;
    padding: 10px 0;
}

#vtLink {
    color:#6BA6FF;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: #2272FF;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6BA6FF;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#6BA6FF;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


.esub-title{
    margin-top: 35%;
    font-size: 50px;
    font-weight: 600px;
    color: #6BA6FF;
}

.experience-titles{
    margin-top: 20px;
}